* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#fff, #ffd6e8);
  overflow: hidden;
  font-family: 'Pacifico', cursive;
}

/* Move everything LOWER */
.container {
  text-align: center;
  position: relative;
  top: 35%;
}

.click-text {
  font-size: 28px;
  color: #ff4f9a;
  margin-bottom: 25px;
}

/*ENVELOPE  */

.envelope {
  width: 260px;
  height: 170px;
  top: 20%;
  background: #ffb6c1;
  margin: auto;
  position: relative;
  cursor: pointer;
  border-radius: 0 0 15px 15px;
  overflow: visible;
  z-index: 2;
}

/* Envelope flap */
.flap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff9bb3;
  clip-path: polygon(0 0, 50% 55%, 100% 0);
  transform-origin: top;
  transition: transform 1.6s ease; /* SLOWER */
  z-index: 3;
}

/* LETTER*/

.letter {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 1400px;              /* Still big but safer */
  transform: translate(-50%, 120%);
  background: white;
  padding: 35px 45px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.25);
  transition: transform 2s ease; /* SLOWER */
  z-index: 1;

  box-shadow:
  0 0 30px rgba(255, 105, 180, 0.4),
  0 0 60px rgba(255, 182, 193, 0.35),
  0 20px 50px rgba(0, 0, 0, 0.25);



  overflow: visible;        /* NO SCROLL */
  height: auto;             /* FIT CONTENT */
  max-height: none;         /* REMOVE LIMIT */

  font-size: 18px;
  line-height: 1.6;
  text-align: left;
}

/* OPEN STATE  */

.envelope.open .flap {
  transform: rotateX(180deg);
}

.envelope.open .letter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}


/*HEARTS  */

.heart {
  position: absolute;
  color: #ff4f9a;
  font-size: 20px;
  animation: floatUp 6s linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(100vh);
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh);
    opacity: 0;
  }
}

/* PETALS */

.petal {
  position: absolute;
  width: 15px;
  height: 15px;
  background: pink;
  border-radius: 50% 50% 50% 0;
  transform: rotate(45deg);
  animation: fall 12s linear infinite;
  opacity: 0.7;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}
.kiss-gif {
  display: block;
  margin: 20px auto;
  height: 100px;
  width: 100px;
  max-width: 60%;
}
